AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
AWS_S3_ENDPOINT=https://s3.us-gov-west-1.amazonaws.com
AWS_REGION=us-gov-west-1
ICEBERG_WAREHOUSE=s3://<your-warehouse-bucket>/iceberg
TRINO_HOST=localhost
TRINO_PORT=8080
