build/zinc*
build/scala*
build/*.jar
build/build.out
docs/_build
*.pyc
*.iws
*.ipr
*.iml
*.idea/
*.log
.*.swp
.idea/**
**/.classpath
**/.project
**/.settings
target
atlassian*
geomesa-*.*.*-*
**/src/main/resources/git.properties
**/*.db
.ipynb_checkpoints
*.ipynb
*.sc
.sphinx
.bloop/*
.metals/*
.scalafmt.conf
.vscode/settings.json
