@import url("theme.css");

/* Add overrides of theme.css rules below */
body {
   color: #565656;
}

.wy-alert.wy-alert-neutral a,.rst-content .wy-alert-neutral.note a,.rst-content .wy-alert-neutral.attention a,.rst-content .wy-alert-neutral.caution a,.rst-content .wy-alert-neutral.danger a,.rst-content .wy-alert-neutral.error a,.rst-content .wy-alert-neutral.hint a,.rst-content .wy-alert-neutral.important a,.rst-content .wy-alert-neutral.tip a,.rst-content .wy-alert-neutral.warning a,.rst-content .wy-alert-neutral.seealso a,.rst-content .wy-alert-neutral.admonition-todo a {
   color: #E6A150
}

.wy-tray-container li.wy-tray-item-info {
   background: #E6A150
}

.wy-tray-container li.wy-tray-item-danger {
   background: #E6A160
}

.btn-info {
   background-color: #E6A150 !important
}

.btn-danger {
   background-color: #E6A160 !important
}

.btn-link {
   color: #E6A150;
}

.wy-dropdown-menu {
   background: #333;
}

.wy-dropdown-menu>dd>a:hover {
   background: #E6A150;
}

.wy-dropdown-menu>dd>a:hover {
   background: #E6A150;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu {
   background: #333;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
   background: #E6A150;
}

.wy-control-group.wy-control-group-required>label:after {
   color: #E6A160
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid {
   color: #E6A160;
   border: 1px solid #E6A160
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus {
   border-color: #E6A160
}

input[type="file"]:focus:invalid:focus,input[type="radio"]:focus:invalid:focus,input[type="checkbox"]:focus:invalid:focus {
   outline-color: #E6A160
}

.wy-control-group.wy-control-group-error .wy-form-message,.wy-control-group.wy-control-group-error>label {
   color: #E6A160
}

.wy-control-group.wy-control-group-error input[type="text"],.wy-control-group.wy-control-group-error input[type="password"],.wy-control-group.wy-control-group-error input[type="email"],.wy-control-group.wy-control-group-error input[type="url"],.wy-control-group.wy-control-group-error input[type="date"],.wy-control-group.wy-control-group-error input[type="month"],.wy-control-group.wy-control-group-error input[type="time"],.wy-control-group.wy-control-group-error input[type="datetime"],.wy-control-group.wy-control-group-error input[type="datetime-local"],.wy-control-group.wy-control-group-error input[type="week"],.wy-control-group.wy-control-group-error input[type="number"],.wy-control-group.wy-control-group-error input[type="search"],.wy-control-group.wy-control-group-error input[type="tel"],.wy-control-group.wy-control-group-error input[type="color"] {
   border: solid 1px #E6A160
}

.wy-control-group.wy-control-group-error textarea {
   border: solid 1px #E6A160
}

.wy-inline-validate.wy-inline-validate-danger .wy-input-context {
   color: #E6A160
}

.wy-inline-validate.wy-inline-validate-info .wy-input-context {
   color: #E6A150
}

.wy-text-info {
   color: #E6A150 !important
}

.wy-text-danger {
   color: #E6A160 !important
}

code,.rst-content tt,.rst-content code {
  border-radius: 3px;
  border-width: 0;
  color: #e6a160;
  padding: 3px 5px;
}

.wy-menu-vertical {
  height: 100%;
}

.wy-menu-vertical > ul {
  border-right: 1px solid #c9c9c9;
  min-height: 100%;
  padding-bottom: 2em;
}

/* headers - selected */
.wy-menu-vertical li.current {
  background-color: #fff6ed;
}
.wy-menu-vertical li.current a {
  border-right: 1px solid #c9c9c9;
}
.wy-menu-vertical li.current > a {
    border-top: none;
}
.wy-menu-vertical li.current a:hover {
  background-color: #a53824;
  color: #fcfcfc;
}

/* first level headers */
.wy-menu-vertical li.toctree-l1 > a {

}

/* first level header - selected */
.wy-menu-vertical li.toctree-l1.current {
  margin-right: -1px;
}
.wy-menu-vertical li.toctree-l1.current > a {
  border-right: 1px solid #fcfcfc;
  border-top: 1px solid #c9c9c9;
}

/* first level headers - hover */
.wy-menu-vertical li.toctree-l1 > a:hover {
  background-color: #a53824;
  color: #fcfcfc;
}

/* selected first level header - hover */
.wy-menu-vertical li.toctree-l1.current > a {
  border-right: 1px solid #fcfcfc;
}

/* second level headers - selected */
.wy-menu-vertical li.toctree-l2.current > a {
  background-color: #efe8e0;
}
.wy-menu-vertical li.toctree-l2.current > a:hover {
    background-color: #a53824;
}

/* for handling collapsed but selected nodes */
.wy-menu-vertical li.toctree-l2 > a.current {
  color: #404040;
  font-weight: bold;
}

/* for handling collapsed but selected nodes */
.wy-menu-vertical li.toctree-l2 > a.current:hover {
  background-color: #a53824;
  color: #fcfcfc;
}

/* third-tier links that aren't selected */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background-color: #efe8e0;
  color: #565656;
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
  background-color: #a53824;
  color: #fcfcfc;
}

/* fourth-tier links that aren't selected */
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  background-color: #efe8e0;
  color: #565656;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
  background-color: #a53824;
  color: #fcfcfc;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover code.literal {
  color: #565656;
}
.wy-nav-side {
  background-color: #fff6ed;
  padding-bottom: 0;
}

.wy-side-nav-search {
  background-color: #fff6ed;
  border-right: 1px solid #c9c9c9;
  color: #e6a150;
  margin-bottom: 0;
  padding-bottom: 1.618em;
}

.wy-side-nav-search img {
  background-color: #e6a150;
}

.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a {
  color: #565656;
}

.wy-side-nav-search>div.version {
  color: #565656;
}

.wy-side-nav-search input[type=text] {
  background-color: #fcfcfc;
}

.wy-nav .wy-menu-vertical header {
   color: #E6A150
}

.wy-body-for-nav {
   background: left repeat-y #333;
}

.wy-nav-top {
   background: #fff6ed;
   color: #A53824 !important;
}

.wy-nav-top img {
   background-color: #fff6ed;
}

.wy-nav-top a {
  color: #A53824;
}

.wy-nav-content {
   background: #fcfcfc;
}

.wy-nav-content-wrap {
   background: #fcfcfc;
}

@media screen and (max-width: 768px) {
  .wy-body-for-nav {
    background: #fcfcfc;
  }
  .wy-nav-content {
    background: #fcfcfc;
  }
}

.rst-versions {
   color: #333;
}

.rst-versions a {
   color: #E6A150;
}

.rst-versions .rst-current-version .fa,.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand,.rst-versions .rst-current-version .rst-content .admonition-title,.rst-content .rst-versions .rst-current-version .admonition-title,.rst-versions .rst-current-version .rst-content h1 .headerlink,.rst-content h1 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h2 .headerlink,.rst-content h2 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h3 .headerlink,.rst-content h3 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h4 .headerlink,.rst-content h4 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h5 .headerlink,.rst-content h5 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h6 .headerlink,.rst-content h6 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content dl dt .headerlink,.rst-content dl dt .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content p.caption .headerlink,.rst-content p.caption .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content tt.download span:first-child,.rst-content tt.download .rst-versions .rst-current-version span:first-child,.rst-versions .rst-current-version .rst-content code.download span:first-child,.rst-content code.download .rst-versions .rst-current-version span:first-child,.rst-versions .rst-current-version .icon {
   color: #333;
}

.rst-versions .rst-current-version.rst-out-of-date {
   background-color: #E6A160;
}

.rst-versions .rst-other-versions dd a {
   color: #333
}

.rst-content tt.literal,.rst-content tt.literal,.rst-content code.literal {
   color: #a53824
}
.rst-content a tt,.rst-content a tt,.rst-content a code {
   color: #E6A150
}

.rst-content dl:not(.docutils) dt {
   color: #E6A150;
}

a {
   color: #A53824;
}

a:visited {
   color: #A53824;
}

a:hover {
   color: #B69295;
}

.pre {
   background: #e5e5e5;
}

div[class^='highlight'] {
  background: #e5e5e5;
  border: 1px solid #c9c8c9;
  border-radius: 3px;
  padding: 1px;
}

div.highlight pre {
  background: #e5e5e5;
}

.c1, .cm {
  color: #747467;
}

code.docutils.literal {
   background: #e5e5e5;
}

.rst-content .admonition-title {
  margin: -13px;
  margin-bottom: 12px;
}

.rst-content .warning .admonition-title {
  background: #ea9f5e;
  border-radius: 3px 3px 0 0;
}

.rst-content .note .admonition-title {
  border-radius: 3px 3px 0 0;
}

div.admonition.warning, div.admonition.note {
 background: #fff6ed;
 border-bottom: 1px solid #c9c8c9;
 border-left: 1px solid #c9c8c9;
 border-right: 1px solid #c9c8c9;
 border-radius: 3px;
}

.wy-table-responsive th.head {
   background-color: #c9c9c9 !important;
}

.wy-table-responsive tr.row-even td {
   background-color: #fff6ed !important;
}

.wy-table-responsive tr.row-odd td {
   background-color: #fcfcfc !important;
}

.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: normal;
}

.wy-table-responsive table td div.highlight {
   overflow: auto;
}

.wy-table-responsive table td div.highlight {
  margin: 1px 0 1px 0;
}

.wy-table-responsive table td p {
  margin-bottom: 12px;
}

.rst-content .section .wy-table-responsive table td ul {
  margin-bottom: 12px;
}

.rst-content .toc-backref {
  color: #bbb;
}

.rst-content .section ul:last-child, .rst-content .toctree-wrapper ul:last-child {
  margin-bottom: 24px !important;
}

.rst-content .section .admonition ul:last-child {
    margin-bottom: 0px !important;
}

.rst-content .highlighted {
  background: #;
  display:inline-block;
  font-weight:bold;
  padding:0 2px !important;
}

.rst-content blockquote.pull-quote div {
  background-color: #f2e7df !important;
  font-style: italic;
  padding: 5px 10px;
}

.rst-content blockquote.pull-quote div p:last-child {
  margin-bottom: 0px;
}

.sphinx-tabs .sphinx-menu {
  background-color: #333;
}

/* these are very specific (a.item.docutils) to override !importants in the tabs CSS */
.sphinx-tabs .sphinx-menu a.item.docutils {
  background-color: #efe8e0 !important;
  border-top: 1px solid #c9c8c9;
  border-right: 1px solid #c9c8c9;
  border-radius: .28571429rem .28571429rem 0 0 !important;
  color: #565656 !important;
  font-weight: bold !important;
}

.sphinx-tabs .sphinx-menu a.item.docutils:first-child {
  border-left: 1px solid #c9c8c9;
}
.sphinx-tabs .sphinx-menu a.item.docutils.active {
  background-color: #fff6ed !important;
  color: #555 !important;
}

.sphinx-tabs .sphinx-tab {
  background-color: #fff6ed !important;
  border-color: #c9c8c9 !important;
}

.sphinx-tabs.docutils.container .wy-table-responsive tr.row-even td {
   background-color: #efe8e0 !important;
}

