@import url("theme.css");

/*
  color palette:

  background theme: beddf4 light blue (was fff6ed light sand)
  second-level menu background theme: e7f3fc lighter blue (was efe8e0 lighter sand)
  menu borders, table header background: c9c9c9 medium gray
  general text color: 565656 dark gray
  main page background, light alternate text color: fcfcfc off-white
  code snippets background: e5e5e5 light gray
  links and code snippets: 2a6ebb dark blue (was a53824 dark red)
  link hover: 6f91b8 lighter blue (was b69295 light gray red)
  warning callouts: ea9f5e gray orange
  invalid input color: e6a160 orange gray

*/

/* Add overrides of theme.css rules below */
body {
 color: #565656;
 font-family: Roboto,Lato,proxima-nova,"Helvetica Neue",Arial,sans-serif;
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid {
  border: 1px solid #e6a160;
  color: #e6a160;
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus {
  border-color: #e6a160
}

input[type="file"]:focus:invalid:focus,input[type="radio"]:focus:invalid:focus,input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e6a160
}

code,.rst-content tt,.rst-content code {
  border-radius: 3px;
  border-width: 0;
  font-size: 14px;
  padding: 3px 5px;
}

.rst-content pre.literal-block {
  background: #e5e5e5;
  border-radius: 3px;
<<<<<<< HEAD
  display: block;
  overflow: auto;
  padding: 12px;
}

a {
  color: #2a6ebb;
}

a:visited {
  color: #2a6ebb;
}

a:hover {
  color: #6f91b8;
}

.rst-content tt.literal,.rst-content code.literal {
  color: #2a6ebb
}

.wy-nav-top {
  background: #beddf4;
  color: #2a6ebb !important;
}

.wy-nav-top img {
  background-color: #beddf4;
}

.wy-nav-top a {
  color: #2a6ebb;
}

.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a {
  color: #2a6ebb;
=======
  padding: 12px 12px;
  display: block;
  overflow: auto;
>>>>>>> 16b2e83f22 (GEOMESA-3176 Docs - fix download links in install instructions)
}

.wy-menu-vertical {
  height: 100%;
}

.wy-menu-vertical > ul {
  border-right: 1px solid #c9c9c9;
  min-height: 100%;
  padding-bottom: 2em;
}

/* headers - selected */
.wy-menu-vertical li.current {
  background-color: #beddf4;
}

.wy-menu-vertical li.current a {
  border-right: 1px solid #c9c9c9;
}

.wy-menu-vertical li.current > a {
  border-top: none;
}

/* first level headers */
.wy-menu-vertical li.toctree-l1 > a {
  color: #2a6ebb;
}

.wy-menu-vertical li.current a:hover {
  background-color: #2a6ebb;
  color: #fcfcfc;
}

/* first level header - selected */
.wy-menu-vertical li.toctree-l1.current {
  margin-right: -1px;
}

.wy-menu-vertical li.toctree-l1.current > a {
  border-right: 1px solid #fcfcfc;
  border-top: 1px solid #c9c9c9;
}

/* first level headers - hover */
.wy-menu-vertical li.toctree-l1 > a:hover {
  background-color: #2a6ebb;
  color: #fcfcfc;
}

/* second level headers - selected */
.wy-menu-vertical li.toctree-l2.current > a {
  background-color: #e7f3fc;
}

.wy-menu-vertical li.toctree-l2.current > a:hover {
  background-color: #2a6ebb;
}

/* for handling collapsed but selected nodes */
.wy-menu-vertical li.toctree-l2 > a.current {
  color: #565656;
  font-weight: bold;
}

/* for handling collapsed but selected nodes */
.wy-menu-vertical li.toctree-l2 > a.current:hover {
  background-color: #2a6ebb;
  color: #fcfcfc;
}

/* third-tier links that aren't selected */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background-color: #e7f3fc;
  color: #565656;
}

/* fourth-tier links that aren't selected */
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  background-color: #e7f3fc;
  color: #565656;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
  background-color: #2a6ebb;
  color: #fcfcfc;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
  background-color: #2a6ebb;
  color: #fcfcfc;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover code.literal {
  color: #565656;
}

.wy-nav-side {
  background-color: #beddf4;
  padding-bottom: 0;
}

.wy-side-nav-search {
  background-color: #beddf4;
  border-right: 1px solid #c9c9c9;
  margin-bottom: 0;
  padding-bottom: 1.618em;
}

.wy-side-nav-search>div.version {
  color: #565656;
}

.wy-side-nav-search input[type="text"] {
  background-color: #fcfcfc;
}

.wy-body-for-nav {
  background: left repeat-y #565656;
}

.wy-nav-content {
  background: #fcfcfc;
  max-width: 1000px;
}

.wy-nav-content-wrap {
  background: #fcfcfc;
}

@media screen and (max-width: 768px) {
  .wy-body-for-nav {
    background: #fcfcfc;
  }

  .wy-nav-content {
    background: #fcfcfc;
  }
}

.pre {
  background: #e5e5e5;
}

div[class^='highlight'] {
  background: #e5e5e5;
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  padding: 1px;
}

div.highlight pre {
  background: #e5e5e5;
}

code.docutils.literal {
  background: #e5e5e5;
}

.rst-content .admonition-title {
  margin: -13px;
  margin-bottom: 12px;
}

.rst-content .warning .admonition-title {
  background: #ea9f5e;
  border-radius: 3px 3px 0 0;
  margin-left: -14px;
  margin-right: -14px;
}

.rst-content .note .admonition-title {
  border-radius: 3px 3px 0 0;
  margin-left: -14px;
  margin-right: -14px;
}

div.admonition.warning, div.admonition.note {
  background: #fcfcfc;
  border-bottom: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
  border-radius: 3px;
  border-right: 2px solid #c9c9c9;
}

.wy-table-responsive th.head {
  background-color: #c9c9c9 !important;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.wy-table-responsive table td div.highlight {
  margin: 1px 0;
  overflow: auto;
}

.wy-table-responsive table td p {
  margin-bottom: 12px;
}

.wy-table-responsive tr.row-even td {
  background-color: #e7f3fc !important;
}

.wy-table-responsive tr.row-odd td {
  background-color: #fcfcfc !important;
}

.sphinx-tabs .sphinx-tabs-panel div {
  margin: 1px 0;
}

.rst-content .toc-backref {
  color: #565656;
}

.rst-content .section ul:last-child, .rst-content .toctree-wrapper ul:last-child {
  margin-bottom: 24px !important;
}

.rst-content .section .wy-table-responsive table td ul {
  margin-bottom: 12px;
}

.rst-content .section .wy-table-responsive table td ul.last {
  margin-bottom: 0 !important;
}

.rst-content .section .admonition ul:last-child {
  margin-bottom: 0 !important;
}

.rst-content .highlighted {
  display:inline-block;
  font-weight:bold;
  padding:0 2px !important;
}

.rst-content blockquote.pull-quote div {
  background-color: #fcfcfc;
  border: 2px solid #c9c9c9;
  border-left-color: #565656;
  border-radius: 0 3px 3px 0;
  font-style: italic;
  padding: 5px 10px;
}

.rst-content blockquote.pull-quote div p:last-child {
  margin-bottom: 0;
}

.sphinx-tabs div.sphinx-menu {
  border-bottom-color: #c9c9c9 !important;
  border-bottom-width: 2px !important;
}

/* these are very specific (a.item.docutils) to override !importants in the tabs CSS */
.sphinx-tabs .sphinx-menu a.item.docutils {
  background-color: #e5e5e5 !important;
  border-radius: .2857rem .2857rem 0 0 !important;
  border-right: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  color: #565656 !important;
  font-weight: bold !important;
}

.sphinx-tabs .sphinx-menu a.item.docutils:first-child {
  border-left: 1px solid #c9c9c9;
}

.sphinx-tabs .sphinx-menu a.item.docutils.active {
  background-color: #fcfcfc !important;
  border-color: #c9c9c9 !important;
  border-width: 2px 2px 0 !important;
  color: #565656 !important;
  margin-bottom: -2px;
}

.sphinx-tabs .sphinx-tab {
  background-color: #fcfcfc !important;
  border-color: #c9c9c9 !important;
  border-width: 0 2px 2px !important;
}

.sphinx-tabs .sphinx-tab.ui.attached.segment {
  margin: 0;
  width: 100%;
}
