@import url("theme.css");

/* Add overrides of theme.css rules below */
body {
   color: #bbb;
}

.wy-alert.wy-alert-neutral a,.rst-content .wy-alert-neutral.note a,.rst-content .wy-alert-neutral.attention a,.rst-content .wy-alert-neutral.caution a,.rst-content .wy-alert-neutral.danger a,.rst-content .wy-alert-neutral.error a,.rst-content .wy-alert-neutral.hint a,.rst-content .wy-alert-neutral.important a,.rst-content .wy-alert-neutral.tip a,.rst-content .wy-alert-neutral.warning a,.rst-content .wy-alert-neutral.seealso a,.rst-content .wy-alert-neutral.admonition-todo a {
   color: #E6A150
}

.wy-tray-container li.wy-tray-item-info {
   background: #E6A150
}

.wy-tray-container li.wy-tray-item-danger {
   background: #E6A160
}

.btn-info {
   background-color: #E6A150 !important
}

.btn-danger {
   background-color: #E6A160 !important
}

.btn-link {
   color: #E6A150;
}

.wy-dropdown-menu {
   background: #333;
}

.wy-dropdown-menu>dd>a:hover {
   background: #E6A150;
}

.wy-dropdown-menu>dd>a:hover {
   background: #E6A150;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu {
   background: #333;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
   background: #E6A150;
}

.wy-control-group.wy-control-group-required>label:after {
   color: #E6A160
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid {
   color: #E6A160;
   border: 1px solid #E6A160
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus {
   border-color: #E6A160
}

input[type="file"]:focus:invalid:focus,input[type="radio"]:focus:invalid:focus,input[type="checkbox"]:focus:invalid:focus {
   outline-color: #E6A160
}

.wy-control-group.wy-control-group-error .wy-form-message,.wy-control-group.wy-control-group-error>label {
   color: #E6A160
}

.wy-control-group.wy-control-group-error input[type="text"],.wy-control-group.wy-control-group-error input[type="password"],.wy-control-group.wy-control-group-error input[type="email"],.wy-control-group.wy-control-group-error input[type="url"],.wy-control-group.wy-control-group-error input[type="date"],.wy-control-group.wy-control-group-error input[type="month"],.wy-control-group.wy-control-group-error input[type="time"],.wy-control-group.wy-control-group-error input[type="datetime"],.wy-control-group.wy-control-group-error input[type="datetime-local"],.wy-control-group.wy-control-group-error input[type="week"],.wy-control-group.wy-control-group-error input[type="number"],.wy-control-group.wy-control-group-error input[type="search"],.wy-control-group.wy-control-group-error input[type="tel"],.wy-control-group.wy-control-group-error input[type="color"] {
   border: solid 1px #E6A160
}

.wy-control-group.wy-control-group-error textarea {
   border: solid 1px #E6A160
}

.wy-inline-validate.wy-inline-validate-danger .wy-input-context {
   color: #E6A160
}

.wy-inline-validate.wy-inline-validate-info .wy-input-context {
   color: #E6A150
}

.wy-text-info {
   color: #E6A150 !important
}

.wy-text-danger {
   color: #E6A160 !important
}

code,.rst-content tt,.rst-content code {
   color: #E6A160;
   border: #717577;
}

/* directly selected headers at each level */
.wy-menu-vertical li.current > a {
  border-bottom: 1px solid #535353;
  border-top: 1px solid #535353;
}

/* non-active second+ level headers */
.wy-menu-vertical li.current a {
  color: #bbb;
  background: #535353;
  border-right: solid 1px #535353;
}

/* non-active second+ level headers - hover */
.wy-menu-vertical li.current a:hover {
  color: #333;
  background: #b0b0b0;
}

/* active first level headers */
.wy-menu-vertical li.toctree-l1.current > a, .wy-menu-vertical li.toctree-l1.current > a:hover {
  color: #e6a150;
  background: #333;
  border-right: solid 1px #333;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

/* active second+ level headers */
.wy-menu-vertical li.toctree-l2.current > a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a, .wy-menu-vertical li.toctree-l2.current li.toctree-l4 > a {
  color: #bbb;
  background: #434242;
  border-right: solid 1px #434242;
}

.wy-menu-vertical li.toctree-l2.current > a {
  border-bottom: 1px solid #434242;
  border-top: 1px solid #434242;
}

/* active second+ level headers - hover */
.wy-menu-vertical li.toctree-l2.current > a:hover, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover , .wy-menu-vertical li.toctree-l2.current li.toctree-l4 > a:hover {
  color: #333;
  background: #b0b0b0;
}


.wy-menu-vertical a:active {
  background-color: #E6A150;
}

.wy-side-nav-search {
  background-color: #111;
  color: #e6a150;
}

.wy-side-nav-search img {
  background-color: #e6a150;
}

.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a {
  color: #333;
}

.wy-side-nav-search>div.version {
  color: #bbb;
}

.wy-side-nav-search input[type=text] {
  background-color: #e3e3e3;
}

.wy-nav-side {
  background-color: #111;
}

.wy-nav .wy-menu-vertical header {
   color: #E6A150
}

.wy-nav .wy-menu-vertical a:hover {
   background-color: #E6A150;
}

.wy-body-for-nav {
   background: left repeat-y #333;
}

.wy-nav-top {
   background: #E6A150;
}

.wy-nav-top img {
   background-color: #E6A150;
}

.wy-nav-content {
   background: #333;
}

.wy-nav-content-wrap {
   background: #333;
}

@media screen and (max-width: 768px) {
    .wy-body-for-nav {
        background: #333
    }
    .wy-nav-content {
        background: #333
    }
}

.rst-versions {
   color: #333;
}

.rst-versions a {
   color: #E6A150;
}

.rst-versions .rst-current-version .fa,.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand,.rst-versions .rst-current-version .rst-content .admonition-title,.rst-content .rst-versions .rst-current-version .admonition-title,.rst-versions .rst-current-version .rst-content h1 .headerlink,.rst-content h1 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h2 .headerlink,.rst-content h2 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h3 .headerlink,.rst-content h3 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h4 .headerlink,.rst-content h4 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h5 .headerlink,.rst-content h5 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content h6 .headerlink,.rst-content h6 .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content dl dt .headerlink,.rst-content dl dt .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content p.caption .headerlink,.rst-content p.caption .rst-versions .rst-current-version .headerlink,.rst-versions .rst-current-version .rst-content tt.download span:first-child,.rst-content tt.download .rst-versions .rst-current-version span:first-child,.rst-versions .rst-current-version .rst-content code.download span:first-child,.rst-content code.download .rst-versions .rst-current-version span:first-child,.rst-versions .rst-current-version .icon {
   color: #333;
}

.rst-versions .rst-current-version.rst-out-of-date {
   background-color: #E6A160;
}

.rst-versions .rst-other-versions dd a {
   color: #333
}

.rst-content tt.literal,.rst-content tt.literal,.rst-content code.literal {
   color: #E26767
}
.rst-content a tt,.rst-content a tt,.rst-content a code {
   color: #E6A150
}

.rst-content dl:not(.docutils) dt {
   color: #E6A150;
}

a {
   color: #e6a150;
}

a:visited {
   color: #e6a150;
}

a:hover {
   color: #e6a150;
}

a.icon-home, a.icon-home:hover, a.icon-home:visited {
   /* i.e. for the house icon and "GeoMesa" in the top, don't change color when visited */
   color: #e6a150;
}

.pre {
   background: #444;
}

div.highlight pre {
   background: #d6d6d6;
}

code.docutils {
   background: #444;
}

code.literal {
   background: #444;
}

.rst-content .warning .admonition-title {
   background: #ea9f5e;
}

div.admonition.warning, div.admonition.note {
   background: #555;
}

.wy-table-responsive th.head {
   background-color: #c9c9c9 !important;
}

.wy-table-responsive tr.row-even td {
   background-color: #555 !important;
}

.wy-table-responsive tr.row-odd td {
   background-color: transparent !important;
}

.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: normal;
}

.wy-table-responsive table td div.highlight {
   overflow: auto;
}

.wy-table-responsive table td div.highlight {
  margin: 1px 0 1px 0;
}

.wy-table-responsive table td p {
  margin-bottom: 12px;
}

.rst-content .section .wy-table-responsive table td ul {
  margin-bottom: 12px;
}

.rst-content .toc-backref {
  color: #bbb;
}

.rst-content .highlighted{
  background: #c9781d !important;
  display:inline-block;
  font-weight:bold;
  padding:0 2px !important;
}

.sphinx-tabs .sphinx-menu {
  background-color: #333;
}

/* these are very specific (a.item.docutils) to override !importants in the tabs CSS */
.sphinx-tabs .sphinx-menu a.item.docutils {
  font-weight: bold !important;
  color: #e6a150 !important;
}

.sphinx-tabs .sphinx-menu a.item.docutils.active {
  background-color: #555 !important;
}

.sphinx-tabs .sphinx-tab {
  background-color: #555 !important;
}
