<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="dataEndpoint" class="org.locationtech.geomesa.web.data.DataEndpoint"/>

  <bean name="queryAuditEndpoint" class="org.locationtech.geomesa.web.security.QueryAuditEndpoint">
    <constructor-arg index="0" ref="analyticsDataPersistence"/>
    <property name="debug" value="true"/>
    <property name="passwordHandler">
      <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="authenticationManager"/>
        <property name="targetMethod" value="getConfigPasswordEncryptionHelper"/>
      </bean>
    </property>
  </bean>

  <bean name="analyticsDataPersistence" class="org.locationtech.geomesa.utils.cache.FilePersistence">
    <constructor-arg index="0" ref="geomesaConfigDir"/>
    <constructor-arg index="1" value="geomesa-analytics"/>
  </bean>

</beans>
