<configuration scan="true">

  <!-- log to stderr for user messages -->
  <appender name="user" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %msg%n</pattern>
    </encoder>
  </appender>

  <!-- log to stdout for program output -->
  <appender name="output" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <!-- file logging -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${geomesa.log.dir}/geomesa.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${geomesa.log.dir}/geomesa.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%-5level [%thread] %date{ISO8601} %F:%L - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="file" />
  </root>

  <logger name="org.locationtech.geomesa.tools.user" level="INFO">
    <appender-ref ref="user" />
  </logger>
  <logger name="org.locationtech.geomesa.tools.output" level="INFO">
    <appender-ref ref="output" />
  </logger>

  <!-- uncomment to see query explain logging -->
  <!--
  <logger name="org.locationtech.geomesa.index.utils.Explainer" level="TRACE">
    <appender-ref ref="output" />
  </logger>
  -->
  <logger name="org.locationtech.geomesa" level="INFO"/>

  <logger name="hsqldb.db" level="WARN"/>
  <logger name="org.apache.hadoop" level="WARN"/>
  <logger name="org.apache.cassandra" level="WARN"/>
  <logger name="com.thinkaurelius.thrift" level="ERROR"/>
</configuration>
