<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="blobStoreServlet" class="org.locationtech.geomesa.blob.web.BlobstoreServlet">
        <constructor-arg index="0" ref="blobStoreDataPersistence"/>
    </bean>

    <bean name="blobStoreDataPersistence" class="org.locationtech.geomesa.utils.cache.FilePersistence">
        <constructor-arg index="0" ref="geomesaConfigDir"/>
        <constructor-arg index="1" value="geomesa-blobstore"/>
    </bean>
</beans>
