<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2013 Commonwealth Computer Research, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="geoMesaServlet" class="geomesa.plugin.servlet.GeoMesaServlet"/>

  <bean id="geoMesaDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
      <props>
        <prop key="/geomesa">geoMesaServlet</prop>
        <prop key="/geomesa/**">geoMesaServlet</prop>
      </props>
    </property>
  </bean>

  <bean id="accumuloDataStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="accumuloDataStorePanel"/>
        <property name="factoryClass" value="geomesa.core.data.AccumuloDataStoreFactory"/>
        <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
        <property name="icon" value="img/icons/geosilk/database_vector.png"/>
        <property name="componentClass"
                  value="geomesa.plugin.wfs.AccumuloDataStoreEditPanel"/>
    </bean>

    <bean id="accumuloCoverageStorePanel"
          class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="accumulo"/>
        <property name="factoryClass" value="geomesa.plugin.wms.CoverageFormat"/>
        <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
        <property name="icon" value="img/icons/geosilk/database_raster.png"/>
        <property name="componentClass"
                  value="geomesa.plugin.wms.CoverageStoreEditPanel"/>
    </bean>

    <bean id="geomesaProcessFactory" class="geomesa.plugin.wps.GeomesaProcessFactory">
        <constructor-arg index="0" value="Geomesa Processes"/>
        <constructor-arg index="1" value="geomesa"/>
        <constructor-arg index="2" value="geomesa.plugin.wps.GeomesaProcess"/>
    </bean>

    <bean id="geomesaImportProcess" class="geomesa.plugin.process.ImportProcess">
        <constructor-arg index="0" ref="catalog"/>
    </bean>

 <!-- Link category for grouping GeoMesa pages -->
  <bean id="geoMesaCategory" class="org.geoserver.web.Category">
    <property name="nameKey" value="GeoMesaCategory.title"/>
    <!-- Optional, a key used to order the links in the menu. -->
    <property name="order" value="100"/>
  </bean>

  <!-- link for the geomesa status page -->
  <bean id="GeoMesaDataStoresPageLink" class="org.geoserver.web.MenuPageInfo">
    <!-- An internal identifier for the link component -->
    <property name="id" value="geoMesaDataStoresPage"/>
    <!-- The i18n key for the link title - in GeoServerApplication.properties-->
    <property name="titleKey" value="GeoMesaDataStoresPage.link.title"/>
    <!-- The i18n key for a longer description of the page -->
    <property name="descriptionKey" value="GeoMesaDataStoresPage.link.description"/>
    <!-- The fully qualified name of the page class -->
    <property name="componentClass" value="geomesa.plugin.ui.GeoMesaDataStoresPage"/>
    <!-- Optional, an icon to display alongside the link. -->
    <!--<property name="icon" value="img/icons/silk/server.png"/>-->
    <!-- Optional, the category in which the link should be grouped. -->
    <property name="category" ref="geoMesaCategory"/>
    <!-- Optional, a key used to order the links in the menu. -->
    <property name="order" value="100"/>
  </bean>

  <!-- link for the geomesa config page -->
  <bean id="geoMesaConfigPageLink" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="geoMesaConfigPage"/>
    <property name="titleKey" value="GeoMesaConfigPage.link.title"/>
    <property name="descriptionKey" value="GeoMesaConfigPage.link.description"/>
    <property name="componentClass" value="geomesa.plugin.ui.GeoMesaConfigPage"/>
    <!--<property name="icon" value="img/icons/silk/server.png"/>-->
    <property name="category" ref="geoMesaCategory"/>
    <property name="order" value="300"/>
  </bean>

  <!-- link for the geomesa hadoop status page -->
  <bean id="hadoopStatusPageLink" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="hadoopStatusPage"/>
    <property name="titleKey" value="HadoopStatusPage.link.title"/>
    <property name="descriptionKey" value="HadoopStatusPage.link.description"/>
    <property name="componentClass" value="geomesa.plugin.ui.HadoopStatusPage"/>
    <!--<property name="icon" value="img/icons/silk/server.png"/>-->
    <property name="category" ref="geoMesaCategory"/>
    <property name="order" value="200"/>
  </bean>

  <!-- link for the geomesa action page -->
  <bean id="geoMesaActionPageLink" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="geoMesaActionPage"/>
    <property name="titleKey" value="GeoMesaActionPage.link.title"/>
    <property name="descriptionKey" value="GeoMesaActionPage.link.description"/>
    <property name="componentClass" value="geomesa.plugin.ui.GeoMesaActionPage"/>
    <!--<property name="icon" value="img/icons/silk/server.png"/>-->
    <property name="category" ref="geoMesaCategory"/>
    <property name="order" value="400"/>
  </bean>

</beans>
