.cards
    position absolute
    height 45%
    bottom 30px
    right 40px
    width 25%
    background-color #fff
    box-shadow -2px 2px 5px 2px rgba(0,0,0,0.3)
    overflow hidden
    .panel-footer
        height 60px
        text-align center
    .panel-body
        height calc(100% - 60px)
        position relative
    .card
        display inline-block
        position absolute
        top 10px
        right 15px
        left 15px
        bottom 30px
        opacity 1
        margin 0
        overflow auto
        transition top 0.4s ease 0s, bottom 0.4s ease 0s, opacity 0.4s ease 0s
        &.top
            top -100%
            bottom 100%
            opacity 0
            transition top 0.4s ease 0s, bottom 0.4s ease 0s, opacity 0.4s ease 0s
        &.bottom
            top 100%
            bottom -100%
            opacity 0
            transition top 0.4s ease 0s, bottom 0.4s ease 0s, opacity 0.4s ease 0s
        .card-row
            width 100%
    .page-info
        height 30px
        position absolute
        bottom 0
        left 5px
        right 5px
        text-align center
