.masthead
    background linear-gradient(top, lighten(mastheadBg, 10%), mastheadBg)
    position absolute
    top 0
    height 100px
    left 0
    right 0
    .header-logo
        display inline-block
        h2
            margin 8px
            color #fff
        width 225px
        margin-right -4px
    .search
        width calc(100% - 225px)
        display inline-block
        color #fff
        label
            width 50px
            margin-right -4px
        input
            width calc(100% - 60px)
            display inline-block
            margin-right 6px
