// Masthead colors
mastheadBg = #333
mastheadColor = #BBB

// Dark
blue1 = #061022
blue2 = #0D182C
blue3 = #101D30
blue4 = #1C2B45

// Light
lblue1 = #004169
lblue2 = #005387
lblue3 = #0067A8
lblue4 = #ADDBED
