<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="scalatraBootstrap" class="org.locationtech.geomesa.web.core.SpringScalatraBootstrap" init-method="init">
        <property name="rootPath" value="geomesa"/>
    </bean>

    <bean name="geomesaSwagger" class="org.locationtech.geomesa.web.core.GeoMesaSwagger"/>

    <bean name="geomesaResourcesApp" class="org.locationtech.geomesa.web.core.ResourcesApp">
        <constructor-arg index="0" ref="geomesaSwagger"/>
    </bean>

    <bean name="geomesaConfigDir" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="dataDirectory"/> <!-- from gs-main -->
        <property name="targetMethod" value="findOrCreateDir"/>
        <property name="arguments">
            <list>
                <value type="java.lang.String">geomesa-config</value>
            </list>
        </property>
    </bean>

</beans>
