<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] %5p %c: %m%n"/>
        </layout>
    </appender>

    <category name="org.locationtech.geomesa.memory">
        <priority value="info"/>
    </category>

    <root>
        <priority value="info"/>
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>

