<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="org.locationtech.geomesa.geojson.servlet.GeoJsonServlet">
    <constructor-arg index="0" ref="geoJsonDataPersistence"/>
    <property name="debug" value="false"/>
  </bean>

  <bean name="geoJsonDataPersistence" class="org.locationtech.geomesa.utils.cache.FilePersistence">
    <constructor-arg index="0" ref="geomesaConfigDir"/>
    <constructor-arg index="1" value="geomesa-geojson"/>
  </bean>

</beans>
