<div class="cards panel" ng-class="{hidden: cards.length === 0}">
    <div class="panel-body">
        <div class="card" ng-repeat="card in cards" ng-class="{selected: selectedIndex === $index, right: $index > selectedIndex, left: $index < selectedIndex}" ng-click="testFunction(card)">
            <!-- <div class="card-row" ng-repeat="(k, v) in card"> -->
                <!-- <label>{{k}}:</label><label>{{v}}</label> -->
            <!-- </div> -->

            <label>Geometry:</label></br>
            <div ng-repeat="(k,v) in card.geometry">
                <label>{{k}}: {{v}}</label></br>
            </div>
            </br>


            <label>Geometry Name: {{card.geometry_name}}</label></br>
            </br>

            <label>ID: {{geometry.id}}</label></br>
            </br>

            <label>Properties:</label></br>
            <div ng-repeat="(k,v) in card.properties">
                {{k}} : {{v}}
            </div>
            </br>

            <label>Type: {{card.type}}</label></br>
        </div>
        <div class="page-info">
            <label>{{selectedIndex + 1}} of {{cards.length}}</label></br>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="updateIndex(-1)"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-default" ng-click="updateIndex(1)"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>