



<div class="transparent-header" ng-hide="showhide">
    <button id="maximizeBtn" class="btn btn-default btn-circle" style="outline: none;" ng-click="showhide = !showhide" > <i class="fa fa-plus"></i> </button>
</div>

<div class="cards panel ui-widget-content" ng-class="{hidden: cards.length === 0}" ng-init="showhide = true" ng-show="showhide" drag>
    
    <button id="minimizeBtn" class="btn btn-default btn-circle" style="outline: none;" ng-click="showhide = !showhide"> <i class="fa fa-minus"></i> </button>

    <div class="panel-body">
        <div class="card" ng-repeat="card in cards" ng-class="{selected: selectedIndex === $index, right: $index > selectedIndex, left: $index < selectedIndex}">
            <div class="card-row" ng-repeat="(k, v) in card">
                <label>{{k}}:</label><label>{{v}}</label>
            </div>
        </div>
        <div class="page-info">
            <label>{{selectedIndex + 1}} of {{cards.length}}</label>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="updateIndex(-1)"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-default" ng-click="updateIndex(1)"><i class="fa fa-chevron-right"></i></button>
    </div>
</div>