name: scala-2.12

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build-and-test.yml
    with:
      scala-version: "2.12"
