name: build-and-test

on:
  workflow_call:
    inputs:
      scala-version:
        required: false
        type: string
        default: "2.12"
      # splitting up the tests in the accumulo-datastore module reduces the overall CI build time
      # tests are defined here as an input b/c 'matrix' doesn't have access to most other contexts (like env)
      accumulo-test-splits-1:
        required: false
        type: string
        default: >-
          AccumuloDataStoreTest,
          AccumuloDataStoreQueryTest,
          AccumuloDataStoreStatsTest,
          AttributeIndexStrategyTest,
          AccumuloDataStoreAlterSchemaTest,
          ArrowBatchIteratorTest,
          MultiIteratorTest,
          AccumuloDataStoreTransformsTest,
          ArrowDictionaryTest,
          VisibilitiesTest
      accumulo-test-splits-2:
        required: false
        type: string
        default: >-
          AccumuloDataStoreAttributeVisibilityTest,
          AttributeIndexFilteringIteratorTest,
          AccumuloPartitioningTest,
          AccumuloFeatureReaderTest,
          AccumuloDataStoreAtomicWriteTest,
          AttributeIndexValuesTest,
          TubeSelectProcessTest,
          AccumuloDataStoreColumnGroupsTest,
          ZIntervalTest,
          S2IndexTest,
          AccumuloFeatureWriterTest,
          KryoLazyStatsIteratorTest,
          AccumuloDataStoreSortTest,
          AccumuloDataStoreUuidTest,
          AccumuloDataStoreAuthTest,
          LiveAccumuloDataStoreTest,
          DensityIteratorTest,
          S3IndexTest

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dlicense.skip=true --batch-mode

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: ${{ hashFiles('**/pom.xml') }}-compile-${{ inputs.scala-version }}
          path: |
            ~/.m2/repository/
            build/zinc-0.3.15/
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ inputs.scala-version }}
      - name: Build with Maven
        run: ./build/mvn clean install $MAVEN_CLI_OPTS -DskipTests -T4
      - name: Collect artifacts
        run: |
          mv ~/.m2/repository/org/locationtech/geomesa m2-geomesa
          tar -czf classes.tgz $(find . -path '*/target/classes' -o -path '*/target/test-classes' -type d | tr '\n' ' ')
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: classes-and-jars-${{ inputs.scala-version }}
          retention-days: 1
          path: |
            m2-geomesa
            classes.tgz
      - name: Remove geomesa artifacts
        if: success() || failure()
        run: rm -rf ~/.m2/repository/org/locationtech/geomesa
  unit-tests:
    name: unit-tests (${{ matrix.tests.name }})
    strategy:
      fail-fast: false
      matrix:
        tests:
          - name: accumulo-ds-1
            selector: -pl :geomesa-accumulo-datastore_${{ inputs.scala-version }} -Dtest="${{ inputs.accumulo-test-splits-1 }}"
          - name: accumulo-ds-2
            selector: -pl :geomesa-accumulo-datastore_${{ inputs.scala-version }} -Dtest="${{ inputs.accumulo-test-splits-2 }}"
          - name: accumulo-ds-3
            selector: -pl :geomesa-accumulo-datastore_${{ inputs.scala-version }} -Dtest.excludes="${{ inputs.accumulo-test-splits-1 }}, ${{ inputs.accumulo-test-splits-2 }}"
          - name: accumulo-other
            selector: -f geomesa-accumulo -pl -:geomesa-accumulo-datastore_${{ inputs.scala-version }}
          - name: arrow
            selector: -f geomesa-arrow
          - name: cassandra
            selector: -f geomesa-cassandra
          - name: convert
            selector: -f geomesa-convert
          - name: cqengine
            selector: -f geomesa-memory
          - name: features
            selector: -f geomesa-features
          - name: fs
            selector: -f geomesa-fs
          - name: gt-pg15
            selector: -f geomesa-gt -Dtest.postgis.docker.tag=15-3.4
          - name: gt-pg16
            selector: -f geomesa-gt -Dtest.postgis.docker.tag=16-3.5
          - name: gt-pg17
            selector: -f geomesa-gt -Dtest.postgis.docker.tag=17-3.5
          - name: hbase
            selector: -f geomesa-hbase
          - name: kafka
            selector: -f geomesa-kafka
          - name: lambda
            selector: -f geomesa-lambda
          - name: metrics
            selector: -f geomesa-metrics
          - name: process
            selector: -f geomesa-process
          - name: redis
            selector: -f geomesa-redis
          - name: spark
            selector: -f geomesa-spark
          - name: utils
            selector: -f geomesa-utils-parent
          - name: others
            selector: -pl geomesa-filter,geomesa-index-api,geomesa-jobs,geomesa-security,geomesa-tools,geomesa-z3
    needs: compile
    uses: ./.github/workflows/unit-tests.yml
    with:
      test-name: ${{ matrix.tests.name }}
      module-selector: ${{ matrix.tests.selector }}
      scala-version: ${{ inputs.scala-version }}
  integration-tests:
    needs: compile
    uses: ./.github/workflows/integration-tests.yml
    with:
      scala-version: ${{ inputs.scala-version }}
  javadocs:
    name: javadocs (${{ matrix.docs.name }})
    strategy:
      fail-fast: false
      matrix:
        docs:
          - name: 1
            selector: "-pl geomesa-utils-parent/geomesa-utils,geomesa-index-api,geomesa-convert/geomesa-convert-common,\
                       geomesa-features/geomesa-feature-common,geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-common,\
                       geomesa-spark/geomesa-spark-jts,geomesa-tools,geomesa-features/geomesa-feature-kryo,\
                       geomesa-kafka/geomesa-kafka-datastore,geomesa-z3,geomesa-arrow/geomesa-arrow-gt,\
                       geomesa-accumulo/geomesa-accumulo-datastore,geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-parquet,\
                       geomesa-metrics/geomesa-metrics-micrometer,geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-orc,\
                       geomesa-features/geomesa-feature-exporters,geomesa-redis/geomesa-redis-datastore,\
                       geomesa-gt/geomesa-gt-partitioning,geomesa-hbase/geomesa-hbase-datastore,\
                       geomesa-cassandra/geomesa-cassandra-datastore"
          - name: 2
            selector: "-pl '!geomesa-utils-parent/geomesa-utils,!geomesa-index-api,!geomesa-convert/geomesa-convert-common,\
                       !geomesa-features/geomesa-feature-common,!geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-common,\
                       !geomesa-spark/geomesa-spark-jts,!geomesa-tools,!geomesa-features/geomesa-feature-kryo,\
                       !geomesa-kafka/geomesa-kafka-datastore,!geomesa-z3,!geomesa-arrow/geomesa-arrow-gt,\
                       !geomesa-accumulo/geomesa-accumulo-datastore,!geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-parquet,\
                       !geomesa-metrics/geomesa-metrics-micrometer,!geomesa-fs/geomesa-fs-storage/geomesa-fs-storage-orc,\
                       !geomesa-features/geomesa-feature-exporters,!geomesa-redis/geomesa-redis-datastore,\
                       !geomesa-gt/geomesa-gt-partitioning,!geomesa-hbase/geomesa-hbase-datastore,\
                       !geomesa-cassandra/geomesa-cassandra-datastore'"
    needs: compile
    uses: ./.github/workflows/javadocs.yml
    with:
      build-id: -${{ matrix.docs.name }}
      scala-version: ${{ inputs.scala-version }}
      module-selector: ${{ matrix.docs.selector }}
  dash:
    needs: compile
    uses: ./.github/workflows/dash.yml
    with:
      scala-version: ${{ inputs.scala-version }}