name: dash

on:
  workflow_call:
    inputs:
      scala-version:
        required: false
        type: string
        default: "2.12"

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dlicense.skip=true --batch-mode

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2 # needed for checking for pom changes
      - name: Check for pom.xml changes
        id: pom_changes
        run: |
          if [[ "${{ github.event_name }}" != "pull_request" ]]; then
            echo "Always running dash for direct push (main, long-term branches, and tags)"
            pomChanged="true"
          else
            pomChanged="false"
            # get the changed files: https://stackoverflow.com/a/74268200/7809538
            IFS=$'\n' read -r -d '' -a changedFiles < <( git diff --name-only HEAD^1 HEAD && printf '\0' )
            echo "Changed files:"
            for file in "${changedFiles[@]}"; do
              echo "  $file"
              if [[ $file =~ .*pom.xml ]]; then
                pomChanged="true"
              fi
            done
          fi
          echo "pom_changed=$pomChanged" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        if: steps.pom_changes.outputs.pom_changed == 'true'
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        if: steps.pom_changes.outputs.pom_changed == 'true'
        with:
          key: ${{ hashFiles('**/pom.xml') }}-dash-${{ inputs.scala-version }}
          path: ~/.m2/repository/
      - name: Set Scala version
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: ./build/scripts/change-scala-version.sh ${{ inputs.scala-version }}
      - name: Download artifacts
        if: steps.pom_changes.outputs.pom_changed == 'true'
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: classes-and-jars-${{ inputs.scala-version }}
      - name: Install artifacts
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: |
          tar -xf classes.tgz
          mkdir -p ~/.m2/repository/org/locationtech/geomesa
          mv m2-geomesa/* ~/.m2/repository/org/locationtech/geomesa/
      - name: License check
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: mvn org.eclipse.dash:license-tool-plugin:license-check $MAVEN_CLI_OPTS -Ddash.fail=true -Ddash.projectId=locationtech.geomesa -DexcludeGroupIds=org.locationtech.geomesa
      - name: Show license
        if: success() || failure()
        run: |
          if [[ -f target/dash/summary ]]; then
            cat target/dash/summary
          else
            echo "No pom changes detected - skipping license check"
          fi
      - name: Remove geomesa artifacts
        if: success() || failure()
        run: |
          if [[ -d ~/.m2/repository/org/locationtech/geomesa ]]; then
            rm -rf ~/.m2/repository/org/locationtech/geomesa
          fi
