name: dash

on:
  workflow_call:
    inputs:
      scala-version:
        required: false
        type: string
        default: "2.12"

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dlicense.skip=true --batch-mode

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2 # needed for checking for pom changes
      - name: Check for pom.xml changes
        id: pom_changes
        run: |
          if [[ "${{ github.event_name }}" != "pull_request" ]]; then
            echo "Always running dash for direct push (main, long-term branches, and tags)"
            pomChanged="true"
          else
            pomChanged="false"
            # get the changed files: https://stackoverflow.com/a/74268200/7809538
            changedFiles=()
            commitShas='${{ join(github.event.commits.*.id, ' ') }}'
            for filename in $(git diff --name-only HEAD^1 HEAD); do
              changedFiles+=("$filename")
              if [[ $filename =~ .*pom.xml ]]; then
                pomChanged="true"
              fi
            done
            echo "Changed files:"
            for file in "${changedFiles[@]}"; do
             echo "  $file"
            done 
          fi
          echo "pom_changed=$pomChanged" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        if: steps.pom_changes.outputs.pom_changed == 'true'
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        if: steps.pom_changes.outputs.pom_changed == 'true'
        with:
          key: ${{ hashFiles('**/pom.xml') }}-dash-${{ inputs.scala-version }}
          path: ~/.m2/repository/
      - name: Set Scala version
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: ./build/scripts/change-scala-version.sh ${{ inputs.scala-version }}
      - name: Download artifacts
        if: steps.pom_changes.outputs.pom_changed == 'true'
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: classes-and-jars-${{ inputs.scala-version }}
      - name: Install artifacts
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: |
          tar -xf classes.tgz
          mkdir -p ~/.m2/repository/org/locationtech/geomesa
          mv m2-geomesa/* ~/.m2/repository/org/locationtech/geomesa/
      - name: License check
        if: steps.pom_changes.outputs.pom_changed == 'true'
        run: mvn org.eclipse.dash:license-tool-plugin:license-check $MAVEN_CLI_OPTS -Ddash.fail=true -Ddash.projectId=locationtech.geomesa -DexcludeGroupIds=org.locationtech.geomesa
      - name: Show license
        if: success() || failure()
        run: |
          if [[ -f target/dash/summary ]]; then
            cat target/dash/summary
          else
            echo "No pom changes detected - skipping license check"
          fi
      - name: Remove geomesa artifacts
        if: success() || failure()
        run: |
          if [[ -d ~/.m2/repository/org/locationtech/geomesa ]]; then
            rm -rf ~/.m2/repository/org/locationtech/geomesa
          fi
