name: javadocs

on:
  workflow_call:
    inputs:
      scala-version:
        required: false
        type: string
        default: "2.12"
      module-selector:
        required: false
        type: string
        default: ""

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dlicense.skip=true --batch-mode

jobs:
  build-javadocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          key: ${{ hashFiles('**/pom.xml') }}-javadocs-${{ inputs.scala-version }}
          path: ~/.m2/repository/
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ inputs.scala-version }}
      - name: Download artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: classes-and-jars-${{ inputs.scala-version }}
      - name: Install artifacts
        run: |
          tar -xf classes.tgz
          mkdir -p ~/.m2/repository/org/locationtech/geomesa
          mv m2-geomesa/* ~/.m2/repository/org/locationtech/geomesa/
      - name: Build scaladocs
        run: mvn generate-sources scala:doc-jar -T2 ${{ inputs.module-selector }} $MAVEN_CLI_OPTS
      - name: Build javadocs
        run: mvn generate-sources javadoc:jar $MAVEN_CLI_OPTS -pl :geomesa-arrow-jts
      - name: Remove geomesa artifacts
        if: success() || failure()
        run: rm -rf ~/.m2/repository/org/locationtech/geomesa
