name: license-headers

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  MAVEN_CLI_OPTS: >
    -Dhttp.keepAlive=false
    -Dmaven.wagon.http.pool=false
    -Dtest.fork.count=1
    --batch-mode
    -Djava.net.preferIPv4Stack=true

jobs:
  check-license-headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          key: ${{ hashFiles('**/pom.xml') }}-license-header-check
          path: ~/.m2/repository/
      - name: Run license check
        run: mvn license:check $MAVEN_CLI_OPTS
