name: spark

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

env:
  JAVA_VERSION: 17
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false --batch-mode -Dlicense.skip=true
  MAVEN_COMPILE_SPARK_ARGS: clean install -Dmaven.test.skip -Dmaven.assembly.skip=true -Dmaven.source.skip -T4
  MAVEN_TEST_SPARK_ARGS: test failsafe:integration-test failsafe:verify -Dmaven.main.skip -Dtest.fork.count=2

jobs:
  integration-tests:
    name: integration-tests / ${{ matrix.projects.name }} / ${{ matrix.scala-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala-version: [ "2.12" ] # note: spark 3.x doesn't support scala 2.13
        # TODO we don't have any tests for hbase spark runtime
        projects:
          - name: accumulo
            list: geomesa-accumulo/geomesa-accumulo-spark
          - name: fs
            list: geomesa-fs/geomesa-fs-spark
          - name: gt
            list: geomesa-gt/geomesa-gt-spark
          - name: hbase
            list: geomesa-hbase/geomesa-hbase-spark
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: "${{ env.JAVA_VERSION }}"
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: ${{ hashFiles('**/pom.xml') }}-spark-integration-tests-${{ matrix.scala-version }}-${{ matrix.projects.name }}
          path: ~/.m2/repository/
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ matrix.scala-version }}
      - name: Build with Maven
        run: mvn $MAVEN_COMPILE_SPARK_ARGS $MAVEN_CLI_OPTS -am -pl ${{ matrix.projects.list }}
      - name: Run Spark tests
        run: mvn $MAVEN_TEST_SPARK_ARGS $MAVEN_CLI_OPTS -pl ${{ matrix.projects.list }}
      - name: Remove geomesa artifacts
        if: success() || failure()
        run: rm -rf ~/.m2/repository/org/locationtech/geomesa
  validate-ci:
    # validates that we haven't missed any projects in our build matrix
    name: validate-ci
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Validate project list
        run: |
          while IFS= read -r -d '' test_class; do
            module="${test_class%/src/test/*}"
            module="${module#./}"
            if [[ $module =~ .*spark ]]; then
              echo "Checking $module"
              yq -e '.jobs.integration-tests.strategy.matrix.projects[].list | select(test("(^|[, ])'"${module}"'($|[, ])"))' .github/workflows/spark.yml >/dev/null 2>&1 || exit 1
            fi
          done < <(find . -name '*IT.scala' -print0)
          echo "done"
